:root {
  --color-primary: #4d3863;
  --color-secondary: #b7a6c6;
  --color-text: #ffffff;
  --color-background: #1e1e1e;
} 

html, body {
    height: 100%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

  body {
    font-family: 'Sigmar One', sans-serif;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--color-secondary);
    box-shadow: 20px 20px 60px #6f26e4, -20px -10px 60px #6f26e4;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-primary);
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-secondary);
    color: var(--color-text);
  }
  
  input[type="submit"] {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #6c5278;
  }

  .circle {
    width: 150px;
    height: 150px;
    background: radial-gradient(var(--color-primary), var(--color-secondary));
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    box-shadow: 20px 20px 60px #6f26e4, -20px -10px 60px #6f26e4;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-15px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(15px);
    }
  }  