:root {
  --color-primary: #4d3863;
  --color-secondary: #b7a6c6;
  --color-text: #ffffff;
  --color-background: #1e1e1e;
}

 /* General styles */

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
  font-family: 'Sigmar One', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(rgba(115, 0, 255, 0.09) 1px, transparent 1px),
  linear-gradient(90deg, rgba(115, 0, 255, 0.09) 1px, transparent 1px),
  #1e1e1e;
  background-size: 100px 100px;
  color: var(--color-primary);
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary);
}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  ul {
    font-size: 1rem;
  }
}

/* Header styles */

header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

nav li:last-child {
  border-right: none;
  padding-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  nav {
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin: 10px 0;
    border-right: none;
    padding-right: 0;
  }

  nav a {
    font-size: 16px;
  }
}

#username-display {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

#username-display:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

.username {
  color: var(--color-text);
}

@media only screen and (max-width: 768px) {
  #username-display {
    font-size: 16px;
  }
}

/* Main styles */

main {
  min-height: calc(90vh - 50px);
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.column {
  flex-basis: 40%;
  max-width: 40%;
  margin: 0 5%;
  margin-bottom: auto;
}

@media screen and (max-width: 768px) {
  main {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex-basis: 100%;
    max-width: 100%;
    margin: 20px 0;
  }
}

/* Footer styles */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

footer a.github-link {
  margin-right: 30px;
  float: none;
}

/* Slider style */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75vh;
  margin: 0 auto;
}

.item {
  width: 25vw;
  height: 30vw;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
  transition: 0.5s;
  top: 10%;
  display: flex;
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.item img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slider {
    height: 60vh;
  }

  .item {
    width: 80vw; 
    height: 80vw;
    top: auto;
    left: auto;
    margin: 0 auto;
    transform: none; 
  }
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--color-primary), var(--color-secondary));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
  box-shadow: 20px 20px 60px #6f26e4, -20px -10px 60px #6f26e4;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-15px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(15px);
  }
}

#next,
#prev {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  z-index: 1;
  color: var(--color-text);
  transform: translateY(-50%);
}

#prev {
  left: 0;
  transform: translate(-50%, -50%);
}

#next {
  right: 0;
  transform: translate(50%, -50%);
}

@media only screen and (max-width: 768px) {
  #next,
  #prev {
    font-size: 2rem;
  }

  #prev {
    left: -185px;
    transform: translate(0, -50%);
  }

  #next {
    right: -185px;
    transform: translate(0, -50%);
  }
}

#next:hover,
#prev:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
 
 /* Column 2 Design */

.card {
  position: relative;
  margin: 1%;
  width: 60vh;
  height: 60vh;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 60px #6f26e4, -20px -10px 60px #6f26e4;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    height: 60vh; 
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 60vh;
    height: 60vh;
    font-size: 20px;
  }
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--color-primary);
  transition: all 1s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
}

.card:hover:after {
  content: attr(data-description);
  position: absolute;
}

.card #artist-description {
  display: none;
  margin-top: 10px;
  font-size: 2vh;
  line-height: 1.5;
  color: var(--color-text);
  opacity: 0;
  animation: appear 0.5s ease-in-out 0.5s forwards;
  font-family: Verdana, sans-serif;
  text-align: left;
  padding: 20px;
}

.card.active #artist-description {
  display: block;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover #artist-name {
  display: none;
}

.card:hover #artist-description {
  display: block;
  position: relative;
  z-index: 2;
  transition-delay: 5s;
}
